{% extends 'base.html' %}

{% block title %}Acesso Negado{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Acesso Negado!</h4>
                <p>Você não tem permissão para acessar este painel.</p>
                <hr>
                <p class="mb-0">Por favor, entre em contato com o administrador do sistema se você acredita que deveria ter acesso.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %} 